<form class="" action="" method="post">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Name*: </label>
        <input type="text" class="form-control" name="name" value="" required>
      </div>
      <div class="form-group">
        <label for="">Date of Birth*: </label>
        <input type="date" class="form-control" name="dob" value="" required>
      </div>
      <div class="form-group">
        <label for="">Height(>100cm)*: </label>
        <input type="number" class="form-control" name="height" value="" required>
      </div>
      <div class="form-group">
        <label for="">International Caps: </label>
        <input type="number" class="form-control" name="intcaps" value=0>
      </div>
      <div class="form-group">
        <label for="">Agent: </label>
        <input type="text" class="form-control" name="agent" value="">
      </div>
      <div class="form-group">
        <label for="">Current Club: </label>
        <input type="text" class="form-control" name="currclub" value="">
      </div>
      <div class="form-group">
        <label for="">Image URL*: </label>
        <input type="url" id="url" class="form-control" name="url" value="" required>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Nationality*: </label>
        <input type="text" class="form-control" name="nat" value="" required>
      </div>
      <div class="form-group">
        <label for="">Place of Birth: </label>
        <input type="text" class="form-control" name="pob" value="">
      </div>
      <div class="form-group">
        <label for="">Main Position*: </label>
        <input type="text" class="form-control" name="mainpos" value="" required>
      </div>
      <div class="form-group">
        <label for="">International Goals: </label>
        <input type="number" class="form-control" name="intgoals" value=0>
      </div>
      <div class="form-group">
        <label for="">Market value(Mill. € and >0)*: </label>
        <input type="number" class="form-control" name="value" value=0 required>
      </div>
      <div class="form-group">
        <label for="">Number: </label>
        <input type="number" class="form-control" name="number" value="">
      </div>
      <div class="form-group" align="right" style="margin-top:40px">
        <button type="reset" class="btn btn-default" name="button"><span class="glyphicon glyphicon-repeat" style="margin-right:5px"></span>Reset</button>
        <button type="submit" class="btn btn-success" name="button"><span class="glyphicon glyphicon-plus" style="margin-right:5px"></span>Create</button>
      </div>
    </div>
  </div>
</form>
