<div class="col-lg-2 col-sm-3 col-xs-6">
  <center>
    <a href="/info/{{this.id}}">
      <div class="thumbnail" style="width:160px;height:270px">
        <center>
          <img src="{{this.imgurl}}" style="width:144px; height:185px; border:solid black" alt="">
        </center>
        <div class="caption">
          <h4><center><b>{{this.name}}</b></center></h4>
        </div>
      </div>
    </a>
  </center>
</div>
