<div class="col-lg-3 col-md-4 col-xs-6">
  <div class="" style="margin-bottom:15px; border-style:solid; border-color:black">
    <a href="/info/{{this.id}}"><img src="{{this.url}}" style="width:100%; height:100%" alt=""></a>
  </div>
</div>
