<div class="row">
  <div class="col-lg-4">
      <center>
        <div id="pthumbnail" class="" style="">
          <img id="playerimg" src="" alt="" style="height:55%;width:100%">
        </div>
      <button type="button" class="btn btn-primary" name="button" onclick="viewimg()">View</button>
      </center>

    <script type="text/javascript">
    function viewimg() {
        var x = document.getElementById("url").value;
        document.getElementById("playerimg").src = x;
        document.getElementById("pthumbnail").className = "thumbnail";
        document.getElementById("pthumbnail").style = "margin-bottom:15px; border-style:solid; border-color:black; width:55%"
    }
    </script>
  </div>

  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-12">
        {{#if successsMess}}
          <div class="alert alert-success">
            {{successsMess}}
        {{else}}
          {{#if errorMess}}
            <div class="alert alert-danger">
              {{errorMess}}
            </div>
          {{/if}}
        {{/if}}
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          {{> form}}
        </div>
      </div>
    </div>
  </div>
</div>
