<div class="row">
  <form class="form-inline" action="/players">
    <div class="form-froup" align="right" style="margin-bottom:20px">
      <input type="text" class="form-control" name="name" placeholder="Player Name" onkeypress="this.value = this.value.toLowerCase();">
      <button type="submit" class="btn btn-primary">
        <span class=" glyphicon glyphicon-search" style="margin-right:5px"></span>Find
      </button>
    </div>
</div>
{{#if isNoResults}}
  <div class="">
    <center>
      <h3><b>No Players Found</b></h3></center>
  </div>
{{else}}
  <div class="row">
    {{#each images}}
      {{> players}}
    {{/each}}
  </div>
{{/if}}
