<div class="row">
  <div class="col-lg-12">
    {{#if successMess}}
      <div class="alert alert-success">
        {{successMess}}
      </div>
    <!-- {{else}}
    {{#if errorMess}}
    <div class="alert alert-danger">
      {{errorMess}}
    </div>
    {{/if}} -->
    {{/if}}
  </div>
</div>
